extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-12.medium-9.large-9
        h1 Diana Vozanu
        p.lead.text-light
          | Front-End Developer
        .portfolio-bio
            p
              | I am a front-end developer in London, UK. I am passionate about JavaScript and building web applications.
            p
              | For the past 2 years, I have poured myself into learning new skills. Last year, I took up web development and have been obsessed ever since.
            p
              | I love the daily challenges of being a web developer: writing quality code, learning new technologies, and solving complex problems. I learn quickly and test my knowledge by creating projects, pushing to GitHub.
                        
      .cell.portfolio-meta.small-12.medium-2.large-3
        h6 Skills
        ul.list
          li JavaScript
          li jQuery
          li Express
          li Git
          li HTML
          li CSS
          li SCSS (Sass)
        h6 Contact
        ul.list
          li
            a(href='mailto:dianavozanu@gmail.com')
              i.fa.fa-envelope-square &nbsp;dianavozanu@gmail.com
          li
            a(href='/static/media/diana-vozanu-cv.pdf', target="_blank")
              i.fa.fa-file-pdf &nbsp;Resume
        ul.social
          li
            a(href='https://www.linkedin.com/in/dianavoz/', target='_blank', aria-label="Linkedin")
              i.fab.fa-linkedin-in
          li
            a(href='https://github.com/dianavoz', target='_blank', aria-label="Github")
              i.fab.fa-github
          

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
